<div class="alert-success">
<h6>Ödeme İşlemi Başarılı Bir Şekilde Gerçekleşmiştir.
    Siparişiniz En Kısa Sürede Kargolanacaktır.</h6>
    <br />
    <p>Bizi tercih ettiğiniz için teşekkür ederiz.</p>
</div>